.post {
  width: 50vw;
  height: 141px;
}

.post__content {
  padding: 30px;
  border: 1px solid;
}

.post__title {
  margin-bottom: 10px;
  font-size: large;
  font-weight: 700;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

.post__text {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40vw;
}
